name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
permissions:
  id-token: write
  contents: read 
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ARM_USE_OIDC: true
      ARM_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
      ARM_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
    environment: secrets
    steps:
    - name: Azure login
      uses: azure/login@v2
      with:
       client-id: ${{ vars.AZURE_CLIENT_ID }}
       tenant-id: ${{ vars.AZURE_TENANT_ID }}
       subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
    - name: Checkout repository
      uses: actions/checkout@v6.0.2
      
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag todoacr01.azurecr.io/microtoui:v1
      
    - name: Login to Acr
      run: az acr login --name todoacr01
      
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: todoacr01.azurecr.io/microtoui:v1
